.header {
  display: flex;
  justify-items: flex-start;
  justify-content: space-between;
  align-items: center;
  padding: 0px 70px 0px;
  background: #465dff;
}

.header_theme_ligth {
  background: #fff;
  color: #000;
}

.header__logo {
  width: 38px;
  height: 38px;
  margin: 18px 0px;
  transition: opacity 0.3s;
  cursor: pointer;
}

.header__logo:hover {
  opacity: 0.8;
}

.header__nav {
  margin: 28px 0px;
}

.header__list {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.header__links {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin: 0px;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  transition: border-bottom-color 0.3s;
  box-sizing: border-box;
  cursor: pointer;
}

.header__links_theme_light {
  color: #000;
}

.header__links_active {
  font-weight: 500;
}

.header__links_main {
  display: none;
}

.header__links:hover {
  border-bottom-color: #fff;
}

.header__btn {
  display: flex;
  gap: 28px;
  align-items: center;
}

.header__button-account {
  padding: 0px 20px;
  border-radius: 20px;
  border: none;
  height: 32px;
  transition: opacity 0.3s;
  cursor: pointer;
}

.header__button-account:hover {
  opacity: 0.8;
}

.header__button-account-nav {
  border-radius: 20px;
  border: none;
  height: 32px;
  width: 100px;
  transition: opacity 0.3s;
  cursor: pointer;
  display: none;
}

.header__button-account-nav_active {
  display: block;
}

.header__button-login {
  padding: 0px 20px;
  border-radius: 3px;
  border: none;
  height: 32px;
  background: #2be080;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  transition: opacity 0.3s;
  cursor: pointer;
}

.header__button-login:hover {
  opacity: 0.8;
}

.header__button-register {
  background: none;
  border: none;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  transition: opacity 0.3s;
  cursor: pointer;
}

.header__button-register:hover {
  opacity: 0.8;
}

.header__burger {
  display: none;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
}

.header__burger-line {
  height: 1.6px;
}

.header__burger:before,
.header__burger:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1.5px;
  left: 0;
  transition: all 0.3s;
}

/* Стили для светлой темы */
.header__burger-line_light,
.header__burger_light:before,
.header__burger_light:after {
  background-color: #000;
}

/* Стили для темной темы */
.header__burger-line_dark,
.header__burger_dark:before,
.header__burger_dark:after {
  background-color: #fff;
}

.header__burger-line {
  top: 9px;
}

.header__burger:before {
  top: 0;
}

.header__burger:after {
  bottom: 0;
}

.header__burger_active .header__burger-line,
.header__burger_active:before,
.header__burger_active:after {
  background-color: #000;
}

/* Анимация бургера */
.header__burger_active .header__burger-line {
  transform: scale(0);
}

.header__burger_active:before {
  transform: rotate(45deg);
  top: 9px;
}

.header__burger_active:after {
  transform: rotate(-45deg);
  bottom: 9px;
}

@media (max-width: 780px) {
  .header {
    padding: 0px 30px 0px;
  }

  .header__nav {
    display: none;
  }

  .header__button-account {
    display: none;
  }

  .header__btn {
    gap: 22px;
  }

  .header__links {
    color: #000;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Inter', 'Arial', 'sans-serif';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .header__nav-link {
    font-size: 14px;
  }
  .header__burger {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }
  .header__burger-line {
    display: block;
    position: relative;
  }
}

@media (max-width: 420px) {
  .header {
    padding: 0px 13px 0px;
  }

  .header__btn {
    gap: 11px;
  }

  .header__button-register {
    font-size: 10px;
  }

  .header__burger {
    width: 23px;
  }

  .header__button-login {
    font-size: 10px;
    height: 26px;
    padding: 0px 12px;
  }
}
